.banner {
  position: relative;
}

.banner img {
  height: 100vh;
  width: 100%;
  object-fit:cover;
}

.mouseSymbol {
  position: absolute;
  width: 25px;
  height: 50px;
  border: 2px solid;
  border-radius: 15px;
}